footer{
    width: 100%;
    height: 100px;
    background-color: $support-06;
    position: relative;

    .timeline{
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: flex-end;
        align-items: center;

        max-width: 100%;
        width: 0%;
        height: 4px;
        background-color: #FFF;
    }

    .timeline::before{
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #FFF;
        display: block;
    }

    .btn-footer{
        font-size: 32px;
        color: $dark-20;
    }

    .content-footer{
        display: flex;
        height: 100%;
        justify-content: space-between;
        padding: 24px;
        align-items: center;
    }

    .cnt1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        cursor: pointer;

        .text-music h1{
            color: #FFF;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        .text-music span{
            color: #FFF;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
        }
    }

    .cnt2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px; 
        cursor: pointer;

        .btn-play{
            width: 48px;
            height: 48px;
            background-color: #191919;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }
    }
    
    .cnt3{
        display: flex;
        gap: 80px;
        cursor: pointer;
    }

    @media (max-width: 980px){
        .cnt3{
            display: none;
        }

        .content-footer{
            position: relative;
            flex-direction: column;
        }
    
        .cnt1{
            position: absolute;
            top: -60px;
            left: 0;
            width: 100%;
            padding: 0px 24px;
    
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        .heart {
            order: 1;
        }
    }

    @media (max-width: 400px){
        .btn-footer{
            font-size: 18px;
        }
    }
}